{% extends "base.html" %}

{% block title %}{{ page.title }}{% endblock title %}

{% block content %}
<article>
    <h1 class="title">{{ page.title }}</h1>
    <h2 class="subtitle">On {{ page.date | date(format="%Y-%m-%d") }} at {{ page.extra.venue }}</h2>

    {% if page.extra.co_speaker %}
    <p>I gave this talk with {{ page.extra.co_speaker }}!</p>
    {% endif %}

    {{ page.content | safe }}

    {% if page.extra.youtube_stub %}
    <iframe class="youtube" src="https://www.youtube.com/embed/{{ page.extra.youtube_stub }}?si=nQkZgIeUGQ3u-vSh" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    {% endif %}

    {% if page.extra.website %}
    With more information available at the <a href="{{ page.extra.website }}">page for the talk</a>
    {% endif %}

    <embed
        src="/talks/{{ page.slug }}.pdf"
        type="application/pdf"
        width="100%"
        title="Presentation Slides"
    />
</article>
{% endblock content %}
