{% extends "base.html" %}

{% block content %}
<h1>Robin Brown (Esoterra)</h1>

<p>
    I've lived in Raleigh, NC and the triangle area almost my entire life.
    I care deeply about cooperation, consensus decision making, communication, and the organization of information.
    I am a technologist and have worked on web services, websites, compilers, big data processing, and more.
</p>

<p>
    I am a <a href="https://www.rust-lang.org/">Rust</a> programmer and <a href="https://webassembly.org/">WebAssembly (Wasm)</a> expert.
    Reliability, security, privacy, and accessibility are very important to me and I am attracted to technologies that advance those goals
    and I'm an opponent of hostile and exploitative companies and the technologies that empower them.
</p>

<p>
    I am also a conference speaker and amateur writer. This website is a place for me to practice and share my work.
</p>

<h2>Blog</h2>

<p>
    My blog primarily contains technical posts that try to make a complex topic accessible,
    but will grow and change as I explore new areas and share other parts of my life and interests.
</p>

<ul>
    {% for post in section.pages %}
    <li>
        <span class="mono">{{ post.date | date(format="%Y-%m-%d") }}</span> -
        <a href="{{ post.path }}">{{ post.title }}</a>
    </li>
    {% endfor %}
</ul>

<br>

<h2>Where to find me</h2>

<p>
    I am active on <a href="https://github.com/esoterra">GitHub</a>,
<a href="https://hachyderm.io/@esoterra">Mastadon</a>, and
<a href="https://bytecodealliance.zulipchat.com/">the Bytecode Alliance Zulip</a>.
</p>

<br>
{% endblock content %}
