{% extends "base.html" %}

{% block content %}
<h1>Robin Brown (Esoterra)</h1>

<p>
    Compilers are our friends and constraints are guarantees.
</p>

<h2>Hire Me!!</h2>

<p>
    I'm currently looking for software engineering work in North Carolina's RTP area or remote!
    I program in <strong>Python</strong>, <strong>JavaScript</strong>/<strong>TypeScript</strong>,
    <strong>Go</strong>, <strong>Rust</strong>, and am always learning new languages!
</p>

<p>
    I worked remotely for two years during the pandemic at Microsoft and for two years at SingleStore, which is a remote-first company with a local office.
</p>

<p>
    I have experience with and am looking for roles doing the following.
</p>

<ul>
    <li><strong>Backend Development</strong> - REST APIs/Web Services, Gin (Go), Axum (Rust), ...</li>
    <li><strong>Frontend Development</strong> - HTML/CSS/js, React, directly using DOM APIs, ...</li>
    <li><strong>Compilers</strong> - Writing compilers in Rust especially generating Wasm</li>
    <li><strong>Other stuff!</strong> - Data Analytics, DevOps/Infrastructure, Technical Writing, Conference Speaking, ...</li>
</ul>

<p>If you're interested in hiring me, please email "me" at this domain or reach out via <a href="https://www.linkedin.com/in/esoterra/">LinkedIn</a></p>

<h2>Posts</h2>

<p>
    I write about <a href="https://webassembly.org/">WebAssembly (Wasm)</a>, <a href="https://www.rust-lang.org/">Rust</a>, and other technical topics.
</p>

<p>
    I'm a big fan of conciseness, so in general expect them to be quick reads aiming to explain an idea or make the case for something quickly and accessibly.
</p>

<ul>
    {% for post in section.pages %}
    <li>
        <span class="mono">{{ post.date | date(format="%Y-%m-%d") }}</span> -
        <a href="{{ post.path }}">{{ post.title }}</a>
    </li>
    {% endfor %}
</ul>

<br>

<h2>Where to find me</h2>

<p>
    I am active on <a href="https://github.com/esoterra">GitHub</a>,
<a href="https://hachyderm.io/@esoterra">Mastadon</a>, and
<a href="https://bytecodealliance.zulipchat.com/">the Bytecode Alliance Zulip</a>.
</p>

<br>
{% endblock content %}
