{% extends "base.html" %}

{% block content %}
<h1>Robin Brown (Esoterra)</h1>

<p>
    Compilers are our friends and constraints are guarantees.
</p>

<h2>Posts</h2>

<p>
    I write about <a href="https://webassembly.org/">WebAssembly (Wasm)</a>, <a href="https://www.rust-lang.org/">Rust</a>, and other technical topics.
</p>

<p>
    I'm a big fan of conciseness, so in general expect them to be quick reads aiming to explain an idea or make the case for something quickly and accessibly.
</p>

<ul>
    {% for post in section.pages %}
    <li>
        <span class="mono">{{ post.date | date(format="%Y-%m-%d") }}</span> -
        <a href="{{ post.path }}">{{ post.title }}</a>
    </li>
    {% endfor %}
</ul>

<br>

<h2>Where to find me</h2>

<p>
    I am active on <a href="https://github.com/esoterra">GitHub</a>,
<a href="https://hachyderm.io/@esoterra">Mastadon</a>, and
<a href="https://bytecodealliance.zulipchat.com/">the Bytecode Alliance Zulip</a>.
</p>

<br>
{% endblock content %}
